<%= render 'table_unconformities' %>

<div class="container overflow-visible">
  <div class="tile">
    <textarea class="simulator-movements" id="simulator-movements" disabled></textarea>
  </div>
</div>
