<%= render 'table_unconformities' %>

<div class="container overflow-visible">
  <div class="tile">
    <textarea class="simulator-movements" id="simulator-movements" disabled></textarea>
  </div>
  
  <button id="export-simulator-movements" class="btn btn-success pull-right"><%=t("views.analysis.export")%></button>

</div>
