<%= link_to root_path, class: "logo-socioboard" do %>
  <%= image_tag "socioboard-logo.png", width: "100px" %>
<% end %>

<div id="row">
  <div class="col-md-12 text-center">
    <div id="map">
    </div>
  </div>
</div>
