 <div class="tile">
   <div class="bg-teal count-box">
     <div class="row">
       <%= generate_preview_numbers(@total) %>
       <%= generate_preview_numbers(@counters) %>
       <div class="pull-right export-elements">
         <%= links_to_export %>
       </div>
     </div>
   </div>
 </div>
