<div class="modal-footer">
  <hr>
  <%= link_to "", class: "btn btn-success btn-icon", id: submit_id do %>
    <%= fa_icon("check") %>
  <% end %>
  <%= link_to "", class: "btn btn-danger btn-icon", id: "btn-close-modal", data: { dismiss: "modal" } do %>
    <%= fa_icon("close") %>
  <% end %>
</div>
