<%= render partial: "home/partials/search" %>

<% @units_group.in_groups_of(2) do |units| %>
  <div class="row">
    <%= render_center_data(units[0], "fadeInLeft") %>
    <%= render_center_data(units[1], "fadeInRight") %>
  </div>
<% end %>
