<div class="col-sm-6">
  <div class="tile tile-units <%= color_tile %> animated <%= animation %>">
    <div class="t-header th-alt">
        <div class="th-title text-center">
          <b><%= name %></b>
        </div>
      </div>
    <div class="t-body tb-padding unit">
      <%= render partial: "home/partials/unit", locals: { unit_type: unit_type,
                                                          range_date: range_date,
                                                          capacity: capacity,
                                                          occupied: occupied,
                                                          near_provisional_admission_date: near_provisional_admission_date,
                                                          near_admission_date: near_admission_date,
                                                          offenders_out_of_profile: offenders_out_of_profile,
                                                          offenders_out_of_measure: offenders_out_of_measure } %>
    </div>
  </div>
</div>
