.table-grey-rowspan {
  background-color: #CCCCCC !important;
  border-top: 0px !important
}

.analysis-table {
  width: 100%;
  font-size: 10px;
}

.analysis-table > thead > tr > th {
  padding: 7px 3px !important;
}

.table > thead > tr > th:first-child, .table > tbody >
tr > th:first-child, .table > tfoot > tr > th:first-child,
.table > thead > tr > td:first-child, .table > tbody > tr >
td:first-child, .table > tfoot > tr > td:first-child {
  padding-left: 5px !important;
}


.analysis-table > thead > tr > th,
.analysis-table > tbody > tr > th,
.analysis-table > tfoot > tr > th,
.analysis-table > thead > tr > td,
.analysis-table > tbody > tr > td,
.analysis-table > tfoot > tr > td {
  border: 1px solid #000000 !important;
  border-right-width:1px !important;
  border-left-width:1px !important;
}
