.table-strong-green-rowspan {
  background-color: #80a309 !important;
  border-top: 0px !important;
  font-weight: bold !important;
  color: #FFFFFF !important;
  text-align: center !important;
}

.table-light-blue-rowspan {
  background-color: #aec7eb !important;
  border-top: 0px !important;
  font-weight: bold !important;
  color: #000000 !important;
  text-align: center !important;
}

.vertical-text span{
  writing-mode: vertical-rl !important;
  transform: rotate(180deg);
}

.table-hover tbody tr:hover td
{
  outline: none  !important;
  border-color: #9ecaed  !important;
  box-shadow: 0 0 10px #9ecaed  !important;
}

.link-index {
  color: #FFFFFF !important;
}

.link-index-black {
  color: #000000 !important;
}

.table-light-green-rowspan {
  background-color: #cbde8a !important;
  border-top: 0px !important;
  font-weight: bold !important;
  text-align: center !important;
}

.table-red-rowspan{
  background-color: rgba(244, 67, 54, 0.74) !important;
  border-top: 0px !important;
  color: #FFFFFF;
}

.table-blue-rowspan{
  background-color: #5389D6 !important;
  border-top: 0px !important;
  color: #000000;
}

.table-light-blue-rowspan{
  background-color: #aec7eb !important;
  border-top: 0px !important;
  color: #000000 !important;
}

.table-yellow-rowspan{
  background-color: yellow !important;
  border-top: 0px !important;
  color: #000000 !important;
}

.table-orange-rowspan{
  background-color: orange !important;
  border-top: 0px !important;
  color: #000000 !important;
}

.analysis-table {
  width: 100%;
  font-size: 10px;
}

.analysis-table > thead > tr > th {
  padding: 7px 3px !important;
}

.table > thead > tr > th:first-child, .table > tbody >
tr > th:first-child, .table > tfoot > tr > th:first-child,
.table > thead > tr > td:first-child, .table > tbody > tr >
td:first-child, .table > tfoot > tr > td:first-child {
  padding-left: 5px !important;
}


.analysis-table > thead > tr > th,
.analysis-table > tbody > tr > th,
.analysis-table > tfoot > tr > th,
.analysis-table > thead > tr > td,
.analysis-table > tbody > tr > td,
.analysis-table > tfoot > tr > td {
  border: 1px solid #000000 !important;
  border-right-width:1px !important;
  border-left-width:1px !important;
}

.btn-total-measure{
  background-color: rgba(244, 67, 54, 0.74);
  color: black;
  font-weight: bold !important;
}

.btn-total-age{
  background-color: yellow;
  color: black;
  font-weight: bold !important;
}

.btn-total-age-measure{
  background-color: orange;
  color: black;
  font-weight: bold !important;
}

.total-conformities{
  background-color: #5389D6;
  color: black;
  font-weight: bold !important;
}

.big-select2 {
    width: 600px !important;
}
