#map-canvas {
  width: 100%;
}

.logo-socioboard {
  background-color: white;
  width: 115px;
  height: 55px;
  padding: 5px 5px 5px 5px;
  position: absolute;
  position: absolute;
  top: 40px;
  right: 52px;
  z-index: 10;
  border: 1px solid green;
}
