// Place all the styles related to the offenders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.near_due_date {
  background-color: #FFD0D0;
}

.near_current_period {
  background-color: #FBF3BA;
}

.subtitle-panel {
  margin-left: 16px;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px 0 10px 0;
}

.subtitle {
  border-radius: 5px;
  padding: 0px 5px 0px 10px;
}

.bad {
  background-color: #FFE1E1;
}

.bad-subtitle {
  border: 1.5px solid #F59B9B;
}

.regular {
  background-color: #FBF3BA;
}

.regular-subtitle {
  border: 1.5px solid #BFB257;
}
