// Place all the styles related to the offenders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

.near_due_date {
  background-color: #FFD0D0;
}

.near_current_period {
  background-color: #FBF3BA;
}

.overdue_measure {
  background-color: #F44336;
  color: white;
}

.sanction {
  background-color: #F44336;
  color: white;
}

.subtitle-panel {
  background-color: white;
  padding: 20px 0 20px 0;
  a {
    :hover {
      border-radius: 5px;
    }
    margin-right: 10px;
  }
}

.subtitle {
  padding: 10px 10px 10px 10px;
  font-weight: bold;
}

.bad {
  background-color: #FFE1E1;
}

.bad-subtitle {
  border: 1.5px solid #F59B9B;
}

.regular {
  background-color: #FBF3BA;
}

.regular-subtitle {
  border: 1.5px solid #BFB257;
}

.overdue {
  background-color: #F44336;
}

.overdue-subtitle {
  border: 1.5px solid #B31004;
  color: white;
}

.sanction {
  background-color: #2A71E2;
}

.sanction-subtitle {
  border: 1.5px solid #2A71E2;
  color: white;
}

.subtitle-title {
  margin-left: 10px;
}

.select2-container--default .select2-results__group {
  cursor: pointer !important;
}
