<header id="header" class="clearfix" data-spy="affix" data-offset-top="65">
  <ul class="header-inner">
    <li class="logo">
      <%= link_to root_path, class: "img-logo" do %>
      <% end %>
    </li>

    <li>
      <a href="#" id="toggleMenu">
        <%= fa_icon("bars", class: "icon-head") %>
      </a>
    </li>
  </ul>
</header>
