<aside id="sidebar">

  <!--| MAIN MENU |-->
  <ul class="side-menu">
    <%= render partial: "layouts/user_profile" if current_user %>
    
    <li>
      <%= menu_icon(root_path, "home", t("main_menu.home")) %>
    </li>

    <li>
      <%= menu_icon(offenders_path, "search", t("main_menu.search")) %>
    </li>

    <li>
      <%= menu_icon(dashboard_index_path, "pie-chart", t("main_menu.dashboard")) %>
    </li>
  </ul>
</aside>
