<aside id="sidebar">

  <!--| MAIN MENU |-->
  <ul class="side-menu">
    <li>
      <%= menu_icon(root_path, "home", t("main_menu.home")) %>
    </li>

    <li>
      <%= menu_icon(offenders_path, "search", t("main_menu.search")) %>
    </li>
  </ul>
</aside>
