<div class="modal fade" id="wizard-modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
      </div>
      <span class="content-modal"></span>
    </div>
  </div>
</div>
